main {
  padding: 40px 0px 40px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
main div#page_loading {
  display: flex;
  justify-content: center;
  width: 100%;
}
main div#page_loading img {
  width: 80px;
  height: 80px;
}
main div#main_content {
  width: 1200px;
  height: 100%;
}
main div#main_content hr.hr {
  display: none;
  margin: 40px 0px 40px 0px;
  border: 1px solid rgb(232, 232, 232);
}
main div#main_content div#listbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main div#main_content div#listbar img#left {
  width: 32px;
  height: 32px;
  margin: 9px 0px 9px 15px;
  border-radius: 50%;
}
main div#main_content div#listbar img#right {
  width: 32px;
  height: 32px;
  margin: 9px 15px 9px 0px;
  border-radius: 50%;
}
main div#main_content div#listbar img:hover {
  cursor: pointer;
}
main div#main_content div#listbar div#mrts {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}
main div#main_content div#listbar div#mrts div.mrt {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
  border: 1px solid rgba(172, 172, 172, 0);
}
main div#main_content div#listbar div#mrts div.mrt:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
}
main div#main_content div#attractions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main div#main_content div#attractions div#home_loading {
  display: flex;
  justify-content: center;
  width: 100%;
}
main div#main_content div#attractions div#home_loading img {
  width: 80px;
  height: 80px;
}
main div#main_content div#attractions div.attraction {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 240px;
  margin: 15px;
}
main div#main_content div#attractions div.attraction a {
  box-sizing: border-box;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
  text-decoration: none;
}
main div#main_content div#attractions div.attraction a div.photo {
  border-radius: 5px 5px 0px 0px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 197px;
  display: flex;
  align-items: end;
}
main div#main_content div#attractions div.attraction a div.photo div.name_box {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
main div#main_content div#attractions div.attraction a div.photo div.name_box p.name {
  font-weight: 700;
  color: white;
}
main div#main_content div#attractions div.attraction a div.mrt_cat_box {
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div#main_content div#attractions div.attraction a div.mrt_cat_box div.mrt_box {
  padding-left: 10px;
}
main div#main_content div#attractions div.attraction a div.mrt_cat_box div.cat_box {
  padding-right: 10px;
}
main div#main_content div#attractions div.attraction a:hover {
  border: 1px solid black;
}
main div#main_content div#attraction_loading {
  display: flex;
  justify-content: center;
  width: 100%;
}
main div#main_content div#attraction_loading img {
  width: 80px;
  height: 80px;
}
main div#main_content div#photo_order {
  width: 100%;
  height: 400px;
  display: none;
}
main div#main_content div#photo_order div#photo {
  display: flex;
  position: relative;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 540px;
  margin: 0px 15px 0px 15px;
}
main div#main_content div#photo_order div#photo div.photo_img {
  display: none;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main div#main_content div#photo_order div#photo div.photo_img_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0px 10px 0px 10px;
  z-index: 2;
}
main div#main_content div#photo_order div#photo div.photo_img_arrow img#right_photo,
main div#main_content div#photo_order div#photo div.photo_img_arrow img#left_photo {
  height: 36px;
  width: 36px;
}
main div#main_content div#photo_order div#photo div.photo_img_arrow img#right_photo,
main div#main_content div#photo_order div#photo div.photo_img_arrow img#left_photo:hover {
  cursor: pointer;
}
main div#main_content div#photo_order div#photo div#btn_circle {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  flex-wrap: wrap;
  z-index: 2;
}
main div#main_content div#photo_order div#photo div#btn_circle img.circle {
  height: 12px;
  width: 24px;
  margin-bottom: 5px;
}
main div#main_content div#photo_order div#order {
  box-sizing: border-box;
  height: 100%;
  width: 600px;
  margin: 0px 15px 0px 15px;
}
main div#main_content div#photo_order div#order div#order_title {
  font-size: 24px;
  font-weight: 700;
}
main div#main_content div#photo_order div#order div#order_title_info {
  display: flex;
  margin: 15px 0px 20px 0px;
  align-items: end;
  height: 22px;
}
main div#main_content div#photo_order div#order div#order_info {
  background-color: rgb(232, 232, 232);
  height: 302px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
main div#main_content div#photo_order div#order div#order_info p,
main div#main_content div#photo_order div#order div#order_info div.order_option {
  padding: 15px 20px 0px 20px;
}
main div#main_content div#photo_order div#order div#order_info form {
  display: flex;
  flex-direction: column;
}
main div#main_content div#photo_order div#order div#order_info form div.order_option {
  display: flex;
  align-items: center;
}
main div#main_content div#photo_order div#order div#order_info form div.order_option div.order_option_title {
  font-weight: 700;
}
main div#main_content div#photo_order div#order div#order_info form div.order_option div.time_radio {
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 5px;
}
main div#main_content div#photo_order div#order div#order_info form div.order_option div.time_radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition: 0.2s all linear;
  margin: 0px 5px 0px 5px;
}
main div#main_content div#photo_order div#order div#order_info form div.order_option div.time_radio input:checked {
  border: 2px solid white;
  background-color: rgb(68, 136, 153);
}
main div#main_content div#photo_order div#order div#order_info form div.order_option div.time_radio input:hover {
  cursor: pointer;
}
main div#main_content div#photo_order div#order div#order_info form button#strat_order_btn {
  background-color: rgb(68, 136, 153);
  color: white;
  border: none;
  margin: 20px 20px 20px 20px;
  width: 154px;
  height: 36px;
  font-size: 19px;
  border-radius: 5px;
}
main div#main_content div#photo_order div#order div#order_info form button#strat_order_btn:hover {
  cursor: pointer;
}
main div#main_content div#photo_order div#order div#order_info form button#strat_order_btn:active {
  background-color: rgb(35, 71, 80);
}
main div#main_content div#attraction_content {
  width: 100%;
  height: 100%;
  display: none;
}
main div#main_content div#attraction_content div {
  padding: 10px;
}
main div#main_content div#attraction_content div p {
  display: flex;
  align-items: center;
  line-height: 23.17px;
}
main div#main_content div#attraction_content div p#adr,
main div#main_content div#attraction_content div p#traffic {
  margin: 4px 0px 4px 0px;
}
main div#main_content div#booking_welcome_box {
  display: flex;
  justify-content: center;
}
main div#main_content div#booking_welcome_box div#booking_loading {
  width: 1000px;
}
main div#main_content div#booking_welcome_box div#booking_loading div#loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
main div#main_content div#booking_welcome_box div#booking_loading div#loading img {
  height: 80px;
  width: 80px;
}
main div#main_content div#booking_welcome_box div#booking_welcome {
  display: none;
  font-size: 19px;
  font-weight: 700;
  width: 1000px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
main div#main_content div.booking_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
main div#main_content div.booking_box div.booking_content {
  width: 980px;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil {
  position: relative;
  display: flex;
  width: 100%;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#booking_content_detail_photo {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#booking_content_detail_info {
  margin-left: 30px;
  box-sizing: border-box;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#booking_content_detail_info div#booking_content_detail_info_title {
  font-weight: 700;
  padding-bottom: 15px;
  color: rgb(68, 136, 153);
  box-sizing: border-box;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#booking_content_detail_info div.booking_content_detail_info_data {
  padding: 5px 0px 5px 0px;
  box-sizing: border-box;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#booking_content_detail_info div.booking_content_detail_info_data p {
  font-weight: 700;
  display: flex;
  align-items: end;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#delete_booking_box {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}
main div#main_content div.booking_box div.booking_content div#booking_content_deatil div#delete_booking_box img:hover {
  cursor: pointer;
}
main div#main_content div.booking_box div.booking_content_input_title {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 5px;
  box-sizing: border-box;
}
main div#main_content div.booking_box div.booking_content_input_box {
  display: flex;
  align-items: center;
  height: 38px;
  box-sizing: border-box;
  margin-top: 15px;
}
main div#main_content div.booking_box div.booking_content_input_box input,
main div#main_content div.booking_box div.booking_content_input_box div.tpfield {
  box-sizing: border-box;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
  height: 100%;
  width: 200px;
  padding: 10px;
  color: black;
}
main div#main_content div.booking_box div.booking_content_input_box input:focus {
  outline: none;
}
main div#main_content div.booking_box .error_msg {
  display: none;
  color: red;
  padding-left: 10px;
}
main div#main_content div.booking_box div#booking_confirm {
  width: 100%;
  display: flex;
  justify-content: right;
}
main div#main_content div.booking_box div#booking_confirm div#booking_confirm_info {
  box-sizing: border-box;
}
main div#main_content div.booking_box div#booking_confirm div#booking_confirm_info p {
  font-weight: 700;
  display: flex;
  align-items: end;
  justify-content: right;
}
main div#main_content div.booking_box div#booking_confirm div#booking_confirm_info p span#booking_confirm_price {
  font-weight: 700;
}
main div#main_content div.booking_box div#booking_confirm div#booking_confirm_info button#booking_confirm_btn {
  background-color: rgb(220, 220, 220);
  color: white;
  border: none;
  margin: 22px 0px 22px 0px;
  width: 173px;
  height: 36px;
  font-size: 19px;
  border-radius: 5px;
}
main div#main_content div.booking_box div#booking_confirm div#booking_confirm_info button#booking_confirm_btn:hover {
  cursor: pointer;
}
main div#main_content div#booking_no_data_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
main div#main_content div#booking_no_data_box div.booking_content {
  width: 980px;
}
main div#main_content div.thank_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
main div#main_content div.thank_box div.thank_content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div#main_content div.thank_box div.thank_content div#thank_title {
  font-weight: 700;
  font-size: 19px;
  width: 100%;
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb {
  margin: 30px 10px 30px 10px;
  width: 800px;
  border-collapse: collapse;
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb tr {
  border: 1px solid rgb(190, 190, 190);
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb th {
  background-color: rgb(68, 136, 153);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb td {
  background-color: white;
  font-size: 20px;
  padding: 5px;
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb td.td_c1 {
  text-align: center;
  width: 30%;
}
main div#main_content div.thank_box div.thank_content table#thank_info_tb td.td_c2 {
  text-align: start;
  width: 70%;
  padding-left: 10%;
}
main div#main_content div.thank_box div.thank_content div#thank_btn_content {
  width: 800px;
  display: flex;
  justify-content: end;
}
main div#main_content div.thank_box div.thank_content div#thank_btn_content button#thank_btn {
  background-color: rgb(68, 136, 153);
  color: white;
  border: none;
  margin: 10px 0px 10px 20px;
  width: 154px;
  height: 36px;
  font-size: 19px;
  border-radius: 5px;
}
main div#main_content div.thank_box div.thank_content div#thank_btn_content button#thank_btn:hover {
  cursor: pointer;
}
main div#main_content div.thank_box div.thank_content div#thank_btn_content button#thank_btn:active {
  background-color: rgb(35, 71, 80);
}
main div#main_content div.member_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
main div#main_content div.member_box div.member_content {
  position: relative;
  width: 800px;
  display: flex;
}
main div#main_content div.member_box div.member_content div#member_img {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 50%;
  position: relative;
}
main div#main_content div.member_box div.member_content div#member_img img#img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
main div#main_content div.member_box div.member_content div#member_img div#member_img_edit {
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
main div#main_content div.member_box div.member_content div#member_img div#member_img_edit:hover {
  cursor: pointer;
}
main div#main_content div.member_box div.member_content div#member_detail {
  padding-left: 30px;
}
main div#main_content div.member_box div.member_content div#member_detail p#member_title {
  font-weight: 700;
  font-size: 24px;
}
main div#main_content div.member_box div.member_content div#member_detail div.member_info {
  display: flex;
  padding: 5px 0px 5px 0px;
  align-items: end;
}
main div#main_content div.member_box div.member_content div#member_detail div.member_info p.member_info_title {
  white-space: pre;
  font-weight: 700;
  font-size: 20px;
  width: 100px;
}
main div#main_content div.member_box div.member_content div#member_detail div.member_info p.member_info_info {
  font-size: 20px;
  padding-left: 15px;
}
main div#main_content div.member_box div.member_content div#member_detail div.member_info p#member_edit {
  padding-left: 15px;
  color: blue;
}
main div#main_content div.member_box div.member_content div#member_detail div.member_info p#member_edit:hover {
  cursor: pointer;
  text-decoration: underline;
}
main div#main_content div.member_box div.member_content div#member_booking {
  width: 100%;
}
main div#main_content div.member_box div.member_content div#member_booking p.member_title {
  font-weight: 700;
  font-size: 24px;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin: 15px 0px 0px 0px;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history div#tb_head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 39.67px;
  background-color: rgb(68, 136, 153);
  border-radius: 5px 5px 0px 0px;
  z-index: 1;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history table#member_booking_history_table {
  width: 95%;
  border-collapse: collapse;
  z-index: 2;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history table#member_booking_history_table tr.booking_row {
  border-bottom: 1px solid rgb(158, 158, 158);
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history table#member_booking_history_table tr.booking_row:hover {
  background-color: white;
  cursor: pointer;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history table#member_booking_history_table th {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  height: 25px;
  padding: 5px 0px 5px 0px;
  color: white;
}
main div#main_content div.member_box div.member_content div#member_booking div#member_booking_history table#member_booking_history_table td {
  text-align: center;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
}
main div#main_content div.member_box div#logout_btn {
  display: flex;
  width: 800px;
  justify-content: end;
}
main div#main_content div.member_box div#logout_btn button#member_logout {
  position: relative;
  right: 0;
  bottom: 0;
  background-color: rgb(68, 136, 153);
  color: white;
  border: none;
  width: 154px;
  height: 36px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 400;
}
main div#main_content div.member_box div#logout_btn button#member_logout:hover {
  cursor: pointer;
  font-weight: 700;
}
main div#main_content div.member_box div#logout_btn button#member_logout:active {
  background-color: rgb(35, 71, 80);
}/*# sourceMappingURL=main.css.map */