main {
  padding: 40px 0px 40px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  div#page_loading {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      width: 80px;
      height: 80px;
    }
  }
  div#main_content {
    width: 1200px;
    height: 100%;
    hr.hr {
      display: none;
      margin: 40px 0px 40px 0px;
      border: 1px solid rgba(232, 232, 232, 1);
    }
    // 首頁 @ index.html
    div#listbar {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      img#left {
        width: 32px;
        height: 32px;
        margin: 9px 0px 9px 15px;
        border-radius: 50%;
      }
      img#right {
        width: 32px;
        height: 32px;
        margin: 9px 15px 9px 0px;
        border-radius: 50%;
      }
      img:hover {
        cursor: pointer;
      }
      div#mrts {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
        div.mrt {
          width: fit-content;
          text-align: center;
          padding: 5px 15px 5px 15px;
          box-sizing: border-box;
          border: 1px solid rgba(172, 172, 172, 0);
        }
        div.mrt:hover {
          cursor: pointer;
          color: black;
          font-weight: 700;
        }
      }
    }
    div#attractions {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      div#home_loading {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          width: 80px;
          height: 80px;
        }
      }
      div.attraction {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 268px;
        height: 240px;
        margin: 15px;
        a {
          box-sizing: border-box;
          border: 1px solid rgba(232, 232, 232, 1);
          border-radius: 5px;
          text-decoration: none;
          div.photo {
            border-radius: 5px 5px 0px 0px;
            background-position: center;
            background-size: cover;
            box-sizing: border-box;
            width: 100%;
            height: 197px;
            display: flex;
            align-items: end;
            div.name_box {
              background-color: rgba(0, 0, 0, 0.6);
              width: 100%;
              height: 40px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              padding-left: 10px;
              padding-right: 10px;
              p.name {
                font-weight: 700;
                color: white;
              }
            }
          }
          div.mrt_cat_box {
            border-radius: 0px 0px 5px 5px;
            background-color: white;
            height: 45px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.mrt_box {
              padding-left: 10px;
            }
            div.cat_box {
              padding-right: 10px;
            }
          }
        }
        a:hover {
          border: 1px solid black;
        }
      }
    }
    // 景點頁面 @ attraction.html
    div#attraction_loading {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 80px;
        height: 80px;
      }
    }
    div#photo_order {
      width: 100%;
      height: 400px;
      display: none;
      div#photo {
        display: flex;
        position: relative;
        align-items: end;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;
        width: 540px;
        margin: 0px 15px 0px 15px;
        div.photo_img {
          display: none;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
        div.photo_img_arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          padding: 0px 10px 0px 10px;
          z-index: 2;
          img#right_photo,
          img#left_photo {
            height: 36px;
            width: 36px;
          }
          img#right_photo,
          img#left_photo:hover {
            cursor: pointer;
          }
        }
        div#btn_circle {
          display: flex;
          justify-content: center;
          align-items: end;
          width: 100%;
          flex-wrap: wrap;
          z-index: 2;
          img.circle {
            height: 12px;
            width: 24px;
            margin-bottom: 5px;
          }
        }
      }
      div#order {
        box-sizing: border-box;
        height: 100%;
        width: 600px;
        margin: 0px 15px 0px 15px;
        div#order_title {
          font-size: 24px;
          font-weight: 700;
        }
        div#order_title_info {
          display: flex;
          margin: 15px 0px 20px 0px;
          align-items: end;
          height: 22px;
        }
        div#order_info {
          background-color: rgba(232, 232, 232, 1);
          height: 302px;
          width: 100%;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          p,
          div.order_option {
            padding: 15px 20px 0px 20px;
          }
          form {
            display: flex;
            flex-direction: column;
            div.order_option {
              display: flex;
              align-items: center;
              div.order_option_title {
                font-weight: 700;
              }
              div.time_radio {
                display: flex;
                align-items: center;
                padding: 0px 5px 0px 5px;
                input {
                  appearance: none;
                  width: 22px;
                  height: 22px;
                  border-radius: 50%;
                  border: none;
                  background-color: white;
                  transition: 0.2s all linear;
                  margin: 0px 5px 0px 5px;
                }
                input:checked {
                  border: 2px solid white;
                  background-color: rgba(68, 136, 153, 1);
                }
                input:hover {
                  cursor: pointer;
                }
              }
            }
            button#strat_order_btn {
              background-color: rgba(68, 136, 153, 1);
              color: white;
              border: none;
              margin: 20px 20px 20px 20px;
              width: 154px;
              height: 36px;
              font-size: 19px;
              border-radius: 5px;
            }
            button#strat_order_btn:hover {
              cursor: pointer;
            }
            button#strat_order_btn:active {
              background-color: rgb(35, 71, 80);
            }
          }
        }
      }
    }
    div#attraction_content {
      width: 100%;
      height: 100%;
      display: none;
      div {
        padding: 10px;
        p {
          display: flex;
          align-items: center;
          line-height: 23.17px;
        }
        p#adr,
        p#traffic {
          margin: 4px 0px 4px 0px;
        }
      }
    }
    // 預定頁面 @ booking.html
    div#booking_welcome_box {
      display: flex;
      justify-content: center;
      div#booking_loading {
        width: 1000px;
        div#loading {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            height: 80px;
            width: 80px;
          }
        }
      }
      div#booking_welcome {
        display: none;
        font-size: 19px;
        font-weight: 700;
        width: 1000px;
        margin-bottom: 30px;
        box-sizing: border-box;
      }
    }
    div.booking_box {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      div.booking_content {
        width: 980px;
        div#booking_content_deatil {
          position: relative;
          display: flex;
          width: 100%;
          div#booking_content_detail_photo {
            width: 250px;
            height: 200px;
            box-sizing: border-box;
            background-position: center;
            background-size: cover;
          }
          div#booking_content_detail_info {
            margin-left: 30px;
            box-sizing: border-box;
            div#booking_content_detail_info_title {
              font-weight: 700;
              padding-bottom: 15px;
              color: rgba(68, 136, 153, 1);
              box-sizing: border-box;
            }
            div.booking_content_detail_info_data {
              padding: 5px 0px 5px 0px;
              box-sizing: border-box;
              p {
                font-weight: 700;
                display: flex;
                align-items: end;
              }
            }
          }
          div#delete_booking_box {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0px;
            right: 0px;
            img:hover {
              cursor: pointer;
            }
          }
        }
      }
      div.booking_content_input_title {
        font-size: 19px;
        font-weight: 700;
        padding-bottom: 5px;
        box-sizing: border-box;
      }
      div.booking_content_input_box {
        display: flex;
        align-items: center;
        height: 38px;
        box-sizing: border-box;
        margin-top: 15px;
        input,
        div.tpfield {
          box-sizing: border-box;
          border: 1px solid rgba(232, 232, 232, 1);
          border-radius: 5px;
          height: 100%;
          width: 200px;
          padding: 10px;
          color: black;
        }
        input:focus {
          outline: none;
        }
      }
      .error_msg {
        display: none;
        color: red;
        padding-left: 10px;
      }
      div#booking_confirm {
        width: 100%;
        display: flex;
        justify-content: right;
        div#booking_confirm_info {
          box-sizing: border-box;
          p {
            font-weight: 700;
            display: flex;
            align-items: end;
            justify-content: right;
            span#booking_confirm_price {
              font-weight: 700;
            }
          }
          button#booking_confirm_btn {
            background-color: rgb(220, 220, 220);
            color: white;
            border: none;
            margin: 22px 0px 22px 0px;
            width: 173px;
            height: 36px;
            font-size: 19px;
            border-radius: 5px;
          }
          button#booking_confirm_btn:hover {
            cursor: pointer;
          }
        }
      }
    }
    div#booking_no_data_box {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      div.booking_content {
        width: 980px;
      }
    }
    // 結果頁面 @ thankyou.html
    div.thank_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      div.thank_content {
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div#thank_title {
          font-weight: 700;
          font-size: 19px;
          width: 100%;
        }
        table#thank_info_tb {
          margin: 30px 10px 30px 10px;
          width: 800px;
          border-collapse: collapse;
          tr {
            border: 1px solid rgb(190, 190, 190);
          }
          th {
            background-color: rgba(68, 136, 153, 1);
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 5px;
          }
          td {
            background-color: white;
            font-size: 20px;
            padding: 5px;
          }
          td.td_c1 {
            text-align: center;
            width: 30%;
          }
          td.td_c2 {
            text-align: start;
            width: 70%;
            padding-left: 10%;
          }
        }
        div#thank_btn_content {
          width: 800px;
          display: flex;
          justify-content: end;
          button#thank_btn {
            background-color: rgba(68, 136, 153, 1);
            color: white;
            border: none;
            margin: 10px 0px 10px 20px;
            width: 154px;
            height: 36px;
            font-size: 19px;
            border-radius: 5px;
          }
          button#thank_btn:hover {
            cursor: pointer;
          }
          button#thank_btn:active {
            background-color: rgb(35, 71, 80);
          }
        }
      }
    }
    // 會員頁面 @ member.html
    div.member_box {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      div.member_content {
        position: relative;
        width: 800px;
        display: flex;
        div#member_img {
          height: 120px;
          width: 120px;
          border: 1px solid rgb(153, 153, 153);
          border-radius: 50%;
          position: relative;
          // background-image: url("/static/images/icon/user.png");
          // background-position: center;
          // background-size: cover;
          // background-repeat: no-repeat;
          img#img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
          div#member_img_edit {
            display: none;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            height: 100%;
            width: 100%;
            font-size: 40px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
          }
          div#member_img_edit:hover {
            cursor: pointer;
          }
        }
        div#member_detail {
          padding-left: 30px;
          p#member_title {
            font-weight: 700;
            font-size: 24px;
          }
          div.member_info {
            display: flex;
            padding: 5px 0px 5px 0px;
            align-items: end;
            p.member_info_title {
              white-space: pre;
              font-weight: 700;
              font-size: 20px;
              width: 100px;
            }
            p.member_info_info {
              font-size: 20px;
              padding-left: 15px;
            }
            p#member_edit {
              padding-left: 15px;
              color: blue;
            }
            p#member_edit:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
        div#member_booking {
          width: 100%;
          p.member_title {
            font-weight: 700;
            font-size: 24px;
          }
          div#member_booking_history {
            display: flex;
            position: relative;
            justify-content: center;
            background-color: rgb(240, 240, 240);
            width: 800px;
            height: fit-content;
            border-radius: 5px;
            box-sizing: border-box;
            padding-bottom: 10px;
            margin: 15px 0px 0px 0px;
            div#tb_head {
              position: absolute;
              top: 0;
              width: 100%;
              height: 39.67px;
              background-color: rgba(68, 136, 153, 1);
              border-radius: 5px 5px 0px 0px;
              z-index: 1;
            }
            table#member_booking_history_table {
              width: 95%;
              border-collapse: collapse;
              z-index: 2;
              tr.booking_row {
                border-bottom: 1px solid rgb(158, 158, 158);
              }
              tr.booking_row:hover {
                background-color: white;
                cursor: pointer;
              }
              th {
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                height: 25px;
                padding: 5px 0px 5px 0px;
                color: white;
              }
              td {
                text-align: center;
                font-size: 20px;
                padding: 5px 0px 5px 0px;
              }
            }
          }
        }
      }
      div#logout_btn {
        display: flex;
        width: 800px;
        justify-content: end;
        button#member_logout {
          position: relative;
          right: 0;
          bottom: 0;
          background-color: rgba(68, 136, 153, 1);
          color: white;
          border: none;
          width: 154px;
          height: 36px;
          font-size: 20px;
          border-radius: 5px;
          font-weight: 400;
        }
        button#member_logout:hover {
          cursor: pointer;
          font-weight: 700;
        }
        button#member_logout:active {
          background-color: rgb(35, 71, 80);
        }
      }
    }
  }
}
