* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  color: rgba(102, 102, 102, 1);
  font-weight: 500;
  font-size: 16px;
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(117, 117, 117, 1);
  div#nav_space {
    width: 100%;
    height: 54px;
  }
  nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    z-index: 500;
    #nav_bar {
      width: 1200px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a#nav_title {
        color: rgba(68, 136, 153, 1);
        font-weight: 700;
        font-size: 30px;
        margin: 10px;
        text-decoration: none;
      }
      div#user_future {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        div {
          padding: 4px;
          box-sizing: border-box;
        }
        div:hover {
          cursor: pointer;
          color: black;
          font-weight: 700;
        }
        div#signin_up_btn {
          display: block;
        }
        div#signout_btn {
          display: none;
        }
      }
    }
  }
  div#window_container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    #dialog_container {
      background: linear-gradient(
        90deg,
        rgba(102, 170, 187, 1),
        rgba(51, 119, 136, 1)
      );
      position: fixed;
      box-sizing: border-box;
      width: 340px;
      height: 275px;
      border-radius: 6px;
      left: calc(50% - 170px);
      top: 80px;
      z-index: 1;
      #dialog_pop {
        position: absolute;
        top: 10px;
        background-color: white;
        box-shadow: 0px 4px 60px rgba(170, 170, 170, 1);
        box-sizing: border-box;
        width: 100%;
        height: calc(auto - 10px);
        border-radius: 0px 0px 6px 6px;
        #close_dialog {
          position: absolute;
          top: 10px;
          right: 10px;
          height: 30px;
          z-index: 2;
        }
        #close_dialog:hover {
          cursor: pointer;
        }
        div.dialog_content {
          padding: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-sizing: border-box;
          p#dialog_title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
            box-sizing: border-box;
          }
          input {
            width: 100%;
            height: 47px;
            margin: 5px;
            padding: 0px 10px 0px 10px;
            box-sizing: border-box;
            border: 1px solid rgba(204, 204, 204, 1);
            border-radius: 5px;
            color: black;
          }
          button {
            background-color: rgba(68, 136, 153, 1);
            color: white;
            border: none;
            margin: 5px;
            width: 100%;
            height: 47px;
            font-size: 19px;
            border-radius: 5px;
          }
          button:hover {
            cursor: pointer;
          }
          button:active {
            background-color: rgb(35, 71, 80);
          }
          p.err_msg {
            color: red;
            text-align: center;
          }
          p#signup_sucess {
            color: green;
            text-align: center;
          }
          p.dialog_statement {
            margin-top: 5px;
          }
          p.dialog_statement:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  header {
    background-image: url(../images/[orig]\ welcome\ image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    div#slogan {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      width: 1200px;
      height: 53%;
      p {
        color: white;
        font-weight: 700;
      }
      div#search {
        display: flex;
        height: 46px;
        font-weight: 700;
        input#attraction_filter {
          width: 400px;
          font-weight: 700;
          padding-left: 15px;
          border-radius: 5px 0px 0px 5px;
          border-width: 0px;
          color: black;
        }
        div#search_btn {
          background-color: rgba(68, 136, 153, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          border-radius: 0px 5px 5px 0px;
        }
        div#search_btn:hover {
          cursor: pointer;
        }
      }
    }
  }
  main {
    padding: 40px 0px 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    div#main_content {
      width: 1200px;
      height: 100%;
      hr {
        margin: 40px 0px 40px 0px;
        border: 1px solid rgba(232, 232, 232, 1);
      }
      // 首頁 @ index.html
      div#listbar {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        img#left {
          width: 32px;
          height: 32px;
          margin: 9px 0px 9px 15px;
          border-radius: 50%;
        }
        img#right {
          width: 32px;
          height: 32px;
          margin: 9px 15px 9px 0px;
          border-radius: 50%;
        }
        img:hover {
          cursor: pointer;
        }
        div#mrts {
          height: 100%;
          width: 100%;
          overflow-x: hidden;
          white-space: nowrap;
          display: flex;
          align-items: center;
          scroll-behavior: smooth;
          div.mrt {
            width: fit-content;
            text-align: center;
            padding: 5px 15px 5px 15px;
            box-sizing: border-box;
            border: 1px solid rgba(172, 172, 172, 0);
          }
          div.mrt:hover {
            cursor: pointer;
            color: black;
            font-weight: 700;
          }
        }
      }
      div#attractions {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div.attraction {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          width: 268px;
          height: 240px;
          margin: 15px;
          a {
            box-sizing: border-box;
            border: 1px solid rgba(232, 232, 232, 1);
            border-radius: 5px;
            text-decoration: none;
            div.photo {
              border-radius: 5px 5px 0px 0px;
              background-position: center;
              background-size: cover;
              box-sizing: border-box;
              width: 100%;
              height: 197px;
              display: flex;
              align-items: end;
              div.name_box {
                background-color: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                p.name {
                  font-weight: 700;
                  color: white;
                }
              }
            }
            div.mrt_cat_box {
              border-radius: 0px 0px 5px 5px;
              background-color: white;
              height: 45px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              div.mrt_box {
                padding-left: 10px;
              }
              div.cat_box {
                padding-right: 10px;
              }
            }
          }
          a:hover {
            border: 1px solid black;
          }
        }
      }
      // 景點頁面 @ attraction.html
      div#photo_order {
        width: 100%;
        height: 400px;
        display: flex;
        div#photo {
          display: flex;
          align-items: end;
          justify-content: space-between;
          box-sizing: border-box;
          height: 100%;
          width: 540px;
          margin: 0px 15px 0px 15px;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          transition: 0.2s ease-in-out;
          div.photo_img_arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            height: 100%;
            padding: 0px 10px 0px 10px;
            img#right_photo,
            img#left_photo {
              height: 36px;
              width: 36px;
            }
            img#right_photo,
            img#left_photo:hover {
              cursor: pointer;
            }
          }
          div#btn_circle {
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;
            flex-wrap: wrap;
            img.circle {
              height: 12px;
              width: 24px;
              margin-bottom: 5px;
            }
          }
        }
        div#order {
          box-sizing: border-box;
          height: 100%;
          width: 600px;
          margin: 0px 15px 0px 15px;
          div#order_title {
            font-size: 24px;
            font-weight: 700;
          }
          div#order_title_info {
            display: flex;
            margin: 15px 0px 20px 0px;
            align-items: end;
            height: 22px;
          }
          div#order_info {
            background-color: rgba(232, 232, 232, 1);
            height: 302px;
            width: 100%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            p,
            div.order_option {
              padding: 15px 20px 0px 20px;
            }
            form {
              display: flex;
              flex-direction: column;
              div.order_option {
                display: flex;
                align-items: center;
                div.order_option_title {
                  font-weight: 700;
                }
                div.time_radio {
                  display: flex;
                  align-items: center;
                  padding: 0px 5px 0px 5px;
                  input {
                    appearance: none;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    border: none;
                    background-color: white;
                    transition: 0.2s all linear;
                    margin: 0px 5px 0px 5px;
                  }
                  input:checked {
                    border: 2px solid white;
                    background-color: rgba(68, 136, 153, 1);
                  }
                }
              }
              button#strat_order_btn {
                background-color: rgba(68, 136, 153, 1);
                color: white;
                border: none;
                margin: 20px 20px 20px 20px;
                width: 154px;
                height: 36px;
                font-size: 19px;
                border-radius: 5px;
              }
              button#strat_order_btn:hover {
                cursor: pointer;
              }
              button#strat_order_btn:active {
                background-color: rgb(35, 71, 80);
              }
            }
          }
        }
      }
      div#attraction_content {
        width: 100%;
        height: 100%;
        div {
          padding: 10px;
          p {
            display: flex;
            align-items: center;
            line-height: 23.17px;
          }
          p#adr,
          p#traffic {
            margin: 4px 0px 4px 0px;
          }
        }
      }
      // 預定頁面 @ booking.html
      div#booking_welcome_box {
        display: flex;
        justify-content: center;
        div#booking_welcome {
          font-size: 19px;
          font-weight: 700;
          width: 1000px;
          margin-bottom: 30px;
          box-sizing: border-box;
        }
      }
      div.booking_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        div.booking_content {
          width: 980px;
          div#booking_content_deatil {
            position: relative;
            display: flex;
            width: 100%;
            div#booking_content_detail_photo {
              width: 250px;
              height: 200px;
              box-sizing: border-box;
              background-position: center;
              background-size: cover;
            }
            div#booking_content_detail_info {
              margin-left: 30px;
              box-sizing: border-box;
              div#booking_content_detail_info_title {
                font-weight: 700;
                padding-bottom: 15px;
                color: rgba(68, 136, 153, 1);
                box-sizing: border-box;
              }
              div.booking_content_detail_info_data {
                padding: 5px 0px 5px 0px;
                box-sizing: border-box;
                p {
                  font-weight: 700;
                  display: flex;
                  align-items: end;
                }
              }
            }
            div#delete_booking_box {
              width: 30px;
              height: 30px;
              position: absolute;
              top: 0px;
              right: 0px;
              img:hover {
                cursor: pointer;
              }
            }
          }
        }
        div.booking_content_input_title {
          font-size: 19px;
          font-weight: 700;
          padding-bottom: 5px;
          box-sizing: border-box;
        }
        div.booking_content_input_box {
          display: flex;
          align-items: center;
          height: 38px;
          box-sizing: border-box;
          margin-top: 15px;
          input {
            box-sizing: border-box;
            border: 1px solid rgba(232, 232, 232, 1);
            border-radius: 5px;
            height: 100%;
            width: 200px;
            padding: 10px;
            color: black;
          }
        }
        div#booking_confirm {
          width: 100%;
          display: flex;
          justify-content: right;
          div#booking_confirm_info {
            box-sizing: border-box;
            p {
              font-weight: 700;
              display: flex;
              align-items: end;
              justify-content: right;
              span#booking_confirm_price {
                font-weight: 700;
              }
            }
            button#booking_confirm_btn {
              background-color: rgba(68, 136, 153, 1);
              color: white;
              border: none;
              margin: 22px 0px 22px 0px;
              width: 173px;
              height: 36px;
              font-size: 19px;
              border-radius: 5px;
            }
            button#booking_confirm_btn:hover {
              cursor: pointer;
            }
            button#booking_confirm_btn:active {
              background-color: rgb(35, 71, 80);
            }
          }
        }
      }
      div#booking_no_data_box {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        div.booking_content {
          width: 980px;
        }
      }
    }
  }
  footer {
    background-color: rgba(117, 117, 117, 1);
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-weight: 700;
    }
  }
}

// RWD
@media (max-width: 1200px) {
  body {
    header {
      div#slogan {
        div#search {
          input#attraction_filter {
            width: 62.5%;
          }
        }
      }
    }
    main {
      div#main_content {
        width: 100%;
        div#attractions {
          div.attraction {
            width: 45%;
          }
        }
        div#booking_welcome_box {
          div#booking_welcome {
            width: 90%;
          }
        }
        div.booking_box {
          div.booking_content {
            width: 90%;
          }
        }
        div#booking_no_data_box {
          div.booking_content {
            width: 90%;
            p {
              padding: 0px 10px 0px 10px;
            }
          }
        }
        hr {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 620px) {
  body {
    header {
      div#slogan {
        div#search {
          input#attraction_filter {
            width: 62.5%;
          }
        }
      }
    }
    main {
      div#main_content {
        div#attractions {
          div.attraction {
            width: 100%;
          }
        }
        div#booking_welcome_box {
          div#booking_welcome {
            width: 100%;
            padding: 0px 10px 0px 10px;
          }
        }
        div.booking_box {
          padding: 0px 10px 0px 10px;
          div#booking_welcome {
            width: 100%;
          }
          div.booking_content {
            width: 100%;
            div#booking_content_deatil {
              flex-direction: column;
              div#booking_content_detail_photo {
                width: 100%;
              }
              div#booking_content_detail_info {
                margin: 30px 0px 0px 0px;
              }
              div#delete_booking_box {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: right;
              }
            }
          }
        }
        div#booking_no_data_box {
          padding: 0px 10px 0px 10px;
          div.booking_content {
            width: 100%;
          }
        }
      }
    }
  }
}

// 景點頁面RWD
@media (max-width: 710px) {
  body {
    div#nav_space {
      height: 14px;
    }
    main {
      div#main_content {
        div#photo_order {
          display: block;
          height: 100%;
          div#photo {
            height: 350px;
            width: 100%;
            margin: 0px;
            border-radius: 0px;
          }
          div#order {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 20px 10px 0px 10px;
            div#order_info {
              height: 100%;
            }
          }
        }
        div#attraction_content {
          div {
            p,
            p#adr,
            p#traffic {
              margin: 5px;
            }
          }
        }
      }
    }
  }
}
